{% load static %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
<script src="{% static 'jquery.min.js' %}"></script>
<script src="{% static 'bootstrap.min.js' %}"></script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Ecom</title>
</head>
<body>
    {% include 'core/navbar.html' %}
    
    {% block contenido %}
        
    {% endblock contenido %} 
    
    {% include 'core/footer.html' %}
</body>
</html>