{% extends "core/base.html" %}

{% block contenido %}
    <html>
        <body>
            
    <table border="1">
        <h1>Usted ha iniciado como: {{user}}</h1>     
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email </th>
                
            </tr>
        </thead>
        <tbody>
            {% for cliente in object_list  %}
            <tr>
                <td>{{ cliente.user }}</td>
                <td>{{ cliente.nombre }}</td>
                <td>{{ cliente.apellido }} </td>
                <td>{{ cliente.email }}</td>
               
            </tr>
            {% endfor %}
        </tbody>
    </table>
   
</div>
</body>
</html> 
{% endblock contenido %}