{% extends 'core/base.html' %}

{% block contenido %}
<html>
        <body>
            <h1>Estos son los usuarios actuales</h1>
            <h2>Debería distingir entre staff y normales</h2>
            <table border="1">
                <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Email </th>
                        <th>Foto </th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in object_list %}
                    <tr>
                        <td>{{ user }}</td>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                        <td>{{ user.email }}</td>
                        <td><img src="{{ user.profile_pic.url }}" alt="Foto de Perfil"></td>
                        <td>
                            <a href="">Actualizar</a>
                            <a href="">Eliminar</a>
                            <a href=""></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        <!-- <ul>
            <li><a href="registrar">Agregar nuevo usuario</a></li>
        </ul> -->
        </body>
</html> 
{% endblock contenido %}